tei-body {
  display: block;
  -background-color: lightblue;
  border-style: dotted;
  border-color: green

}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;

}

tei-standOff {
  visibility: hidden;
  display:list-item;
  color: blue;

}

tei-lb:before {
  white-space: pre;
  content: "\A";
}

tei-dateline{

  margin-right: 0;
  display: inline-block;
  margin: auto;
  font-style: italic;
  text-align: right;

}

tei-note{
  margin-bottom: 0;
  color: red;

}

tei-persName:hover{
   background-color: lightgreen;

}
